<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.bluebiz.board.mapper.userMapper">
	<insert id="userInsert" parameterType="userDto">
		INSERT INTO joinUser 
			(
			 unum, user_id, user_password, name
			 , jumin, email, addr, phone
			 )
		VALUES 
			(
			 User_SEQ.NEXTVAL, #{user_id}, #{user_password}, #{name}
			 , #{jumin}, #{email}, #{addr}, #{phone} 
			)
	</insert>

	<update id="userUpdate" parameterType="userDto">
			UPDATE 
				joinUser 
			SET 
				unum = #{unum}
			  , user_id = #{user_id}
			  , user_password = #{user_password}
			  , name = #{name}
			  , jumin = #{jumin}
			  , email = #{email}
			  , addr = #{addr}
			  , phone = #{phone}
			WHERE 
			   unum = #{unum}
	</update>
	
	<delete id="userDelete" parameterType="userDto">
		DELETE FROM 
			joinUser 
		WHERE 
			unum = #{unum}
	</delete>
	
	<select id="selectUser" resultType="userDto" parameterType="int">
		SELECT * FROM 
			joinUser
		WHERE 
			unum = #{unum} 
	</select>
	
	<select id="login" resultType="userDto">
		SELECT * FROM 
			joinUser
		WHERE
			user_id = #{user_id}
		AND
			user_password = #{user_password}
	</select>
</mapper>